<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shqtn.enter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".IPChangeAty" />
        <activity android:name=".ListActivity" />
        <activity android:name=".activity.enter.TakeDelGoodsOperateActivity" />
        <activity android:name=".activity.enter.RackUpGoodsOperateActivity" />
        <activity android:name=".activity.LpnSubmitActivity" />
        <activity android:name=".activity.DepotChangeAty" />
        <activity android:name=".activity.in.GoodsAdjustTargetRackActivity" />
        <activity android:name=".activity.enter.QualityInspectionGoodsOperateActivity" />
        <activity android:name=".activity.exit.RackDownGoodsOperateActivity" />
        <activity android:name=".activity.exit.DepotOutGoodsOperateActivity" />
        <activity android:name=".activity.exit.SortingGoodsOperateActivity" />
        <activity android:name=".activity.exit.PackingAddLpnOrGoodsOperateActivity" />
        <activity android:name=".activity.in.CheckQuantityManifestOperateActivity" />
        <activity android:name=".activity.enter.TakeBoxGoodsTakeSelectActivity" />
        <activity android:name=".activity.enter.TakeBoxTakeOperateActivity" />
        <activity android:name=".activity.in.PMHaveCodeAddGoodsOrLpnActivity" />
        <activity android:name=".activity.PalletDetailsActivity" />
        <activity android:name=".print.aty.BoxPrintActivity" />
        <activity android:name=".InputCodeActivity"></activity>
    </application>

</manifest>