<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shqtn.b">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".enter.ui.BTakeDeliveryGoodsDetailsActivity" />
        <activity android:name=".SerialAddActivity" />
        <activity android:name=".SerialSrcActivity" />
        <activity android:name=".enter.ui.BQualityInspectionGoodsOperateActivity" />
        <activity android:name=".enter.ui.BTakeBoxGoodsSelectActivity" />
        <activity android:name=".enter.ui.BTakeBoxGoodsOperateActivity" />
        <activity android:name=".enter.ui.BRackUpGoodsOperateActivity"></activity>
    </application>

</manifest>